# gnore the entire data folder
data/

# Ignore all CSV/Parquet/data files
*.parquet
*.h5
*.pkl
*.npy
*.npz
*.xlsx
*.xls

# Ignore model files, logs, and results
models/
logs/
results/
*.pt
*.pth
*.ckpt

# Python environment related
__pycache__/
*.pyc
.venv/
venv/
.env
